flags: &flags
  encoding: utf8
  pool: 100
  reconnect: true
  variables:
    sql_mode: NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION
development:
  adapter: mysql2
  host: 127.0.0.1
  database: dev_pessimism
  username: steam
  password: steampass
  <<: *flags
test:
  adapter: mysql2
  host: 127.0.0.1
  username: steam
  password: steampass
  database: test_pessimism
  <<: *flags
production:
  adapter: mysql2
  host: 127.0.0.1
  database: dev_pessimism
  username: steam
  password: steampass
  <<: *flags
  
